<% provide(:title, "Pomocník") %>

<h1> Pomocník </h1>

<p class="justify">
Systém Skialpi slúži na evidenciu skialpinistických zjazdov. Tieto zjazdy môžete do systému pridávať prechodom na Lokality v hornom menu. Ak daná lokalita ešte neexituje, môžte ju do systému pridať. Lokalita sa skladá z viacerých oblastí v ktorých sú potom evidované konkrétne zjazdy. Hierarchia zjazdov je nasledovná:<br/>
<strong>Lokalita</strong> - predstavuje nejaké skialpinisticky atraktívne pohorie, kopec alebo dolina. V rámci tohto pohoria je viacero oblastí.<br />
<strong>Oblasť</strong> - oblasti sú súčasťami väčších lokalít. Oblasť predstavuje napríklad nejakú stenu pohoria, prípadne štít, u ktorého evidujeme zjazdy.<br />
<strong>Zjazd</strong> - predstavuje konkrétny skialpinistický zjazd v nejakom pohorí. 
<br /><br />
Hlavným cieľom systému Skialpi je evidovať Vaše dosiahnuté úspechy v skialpinizme - teda zjazdy, ktoré ste úspešne zlyžovali. Pridávať zjazdy môžete vo svojom Denníčku, na ktorý sa dostanete kliknutím na položku Účet v hornom menu a následnom výbere položky Môj denníček.
<br/><br/>
Po pridaní zjazdu do Vášho denníčka Vám bude zjazd následne ohodnotený podľa náročnosti. Hodnotenie zjazdov je vykonané pomocou nasledovnej tabuľky:<br />
</p>

<div class="row">
	<div class="span6 offset1">
<% dif = difficulty_level %>
<table class="table table-striped">
<tr><th>Obtiažnosť</th><th>Body</th></tr>
<% dif.each do |key, value| %>
	<tr><td><%= key %></td><td><%= value %></td></tr>
<% end %>
</table>
</div>
<div class = "span4">
<% exp = exposure_level %>
<table class="table table-striped">
<tr><th>Expozícia</th><th>Body</th></tr>
<% exp.each do |key, value| %>
	<tr><td><%= key %></td><td><%= value %></td></tr>
<% end %>
</table>
</div></div>

<p class="justify">
Viac o metodike hodnotenia môžete nájsť na stránke
<%= link_to "http://www.miropeto.sk/sprievodca/vseobecne-informacie-o-sprievodcovi/", "http://www.miropeto.sk/sprievodca/vseobecne-informacie-o-sprievodcovi/" %>
</p>

