<h1> Vitajte v systéme Skialpi</h1>

<p class="center">
	<strong> Systém skialpi je určený na evidovanie skialpinistických zjazdov, ktoré používatelia systému prekonali. Systém na základe náročnosti zjazdu ohodnotí používateľov úspech bodmi. Každému registrovanému používateľovi je navyše umožnené do systému pridávať nové zjazdy. </strong>
</p>

<p class="center">

	<% unless signed_in? %>
		<br /><br/ >
    <%= link_to "Zaregistrujte sa teraz!", "/registration", 
                                class: "btn btn-large btn-primary" %>
    <br /><br/ ><br /><br/ >
	<% end %>

</p>

<% if signed_in? and current_user.helpers %>
    <div class="alert alert-info">
      Prebojujte sa aj Vy medzi najúspešnejších. Pridávajte do svojho <u>
      <%= link_to "denníčka", current_user %></u> nové zjazdy a posúvajte sa v rebríčku stále vyššie!.
    </div>
<% end %>

<% if @achievements.num_tuples > 0 %>

  <div class="row">
    <div class="span6 offset3">

    <h4 class="center">Najlepší používatelia</h4>
    <table class="table table-striped">
      <% @achievements.each do |achv| %>
        <tr>
          <td> <%= achv["rank"] %>. </td>
          <td> <%= link_to achv["name"], "/users/#{achv["id"]}" %> </td>
          <td> <%= User.wt_sex achv["sex"] %> </td>
          <td> <strong><%= achv["points"] %></strong> </td>
        </tr>
      <% end %>
    </table>

    <div style="height: 50px, width: 100%"></div>

<% end %>

<% if @season.num_tuples > 0 %>
    <h4 class="center">Najlepší používatelia v sezóne <%= Date.current.year %></h4>
    <table class="table table-striped">
      <% @season.each do |seas| %>
        <tr>
          <td> <%= seas["rank"] %>. </td>
          <td> <%= link_to seas["name"], "/users/#{seas["id"]}" %> </td>
          <td> <%= User.wt_sex seas["sex"] %> </td>
          <td> <strong><%= seas["points"] %></strong> </td>
        </tr>
      <% end %>
    </table>

    </div>
  </div>

<% end %>



