<% provide(:title, 'Pridaj zjazd do denníčka') %>

<h1>Pridanie zjazdu do denníčka</h1>

<div class="row">
  <div class="span6 offset3">
 
  <%= form_for @achievement, :url => { :action => "add_as_achievement_proc" }, :html => { :method => "post" }  do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
  
<p class="center">
  Zjazd: <strong><%= @track.name %></strong><br/>
  Oblasť: <%= @track.area.name %><br />
  Lokalita: <%= @track.area.location.name %><br />
</p>

<br /> <br />

      <%= f.label :date, "Dátum zjazdu *" %>                
      <div id="datetimepicker" class="input-append">
        <input class="span3" id="date-input" name="achievement[date]" data-format="yyyy-MM-dd" type="text" width="10"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        <span class="add-on">
          <em>napr. 2013-01-01</em>
        </span>
      </div>
      
      <%= f.label :time, "Čas" %>
      <%= f.text_field :time %>
      
      <%= f.label :note, "Poznámka" %>
      <%= f.text_area :note, placeholder: "Poznámka k zjazdu...", size: "x3" %>
      
      <%= f.submit "Pridaj", class: "btn btn-large btn-primary" %>
      
      
      <script type="text/javascript">      
      $(function() {
        $('#datetimepicker').datetimepicker({
          pickTime: false,
        });
        var picker = $('#datetimepicker').data('datetimepicker');
        picker.setLocalDate(new Date()); 
      });
      </script>
    <% end %>
  </div>
</div>
