<% provide(:title, "Používatelia") %>

<h1> Používatelia </h1>

<p class = center>V systéme už máme <strong><%= @users.count %></strong> zaregistrovaných používateľov. </p>

<%= will_paginate %>

<table class="table table-striped">
  
  <th> Meno </th> <th> Pohlavie </th> <th> Počet bodov </th> <th> Body sezóna </th>
  <% if !current_user.nil? && current_user.admin? %>
    <th></th>
  <% end %>
  
  <% @users.each do |user| %>
    <tr>
      <td> <%= link_to user.name, user %> </td>
      <td> <%= user.sex_sk %> </td>
      <td> <%= user.achievements.sum(:points) %> </td>
      <td> <%= user.season_achievements.sum(:points) %> </td>
      <% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
      <td>
        <%= link_to "[zmazať]", user, method: :delete,
                                  data: { confirm: "Ste si istí?" } %>
      </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>

</table>

<%= will_paginate %>
