<% year = Date.current.year %>
<% provide(:title, "Najlepší používatelia v #{year}") %>

<h1> Najlepší používatelia v sezóne <%= year %> </h1>

<div class="row">
  <div class="span6 offset3">

  <% if @season.num_tuples == 0 %>
    <div class="alert alert-warning center" style="margin-top: 50px">V systéme nie je evidovaný zjazd pre žiadneho používateľa v aktuálnej sezóne.</div>
  <% else %>

	  <table class="table table-striped">
  		<% @season.each do |seas| %>
      <tr>
        <td> <%= seas["rank"] %>. </td>
        <td> <%= link_to seas["name"], "/users/#{seas["id"]}" %> </td>
        <td> <%= User.wt_sex seas["sex"] %> </td>
        <td> <strong><%= seas["points"] %></strong> </td>
      </tr>
    <% end %>
	  </table>

  <% end %>

  </div>
</div>
