<% provide(:title, "Štatistiky") %>

<h1> Štatistiky </h1>




<div class="row">
<div class="span6 offset3">


<h3 class="center">Najlepší používatelia</h3>

<% if @achievements.length == 0 %>
  <div class="alert alert-warning center" style="margin-top: 50px">V systéme nie je evidovaný zjazd pre žiadneho používateľa.</div>
<% else %>

  <table class="table table-striped">
    <% @achievements.each_with_index do |achv, i| %>
      <tr>
        <td> <%= (i + 1) %>. </td>
        <td> <%= link_to achv.user.name, achv.user %> </td>
        <td> <%= achv.user.sex_sk %> </td>
        <td> <strong><%= achv["sum_points"] %></strong> </td>
      </tr>
    <% end %>
  </table>
  <p align="right"> <%= link_to "Celý zoznam", stats_best_path %>

  <div style="height: 50px, width: 100%"></div>
<% end %>




<h3 class="center">Najlepší používatelia v sezóne <%= Date.current.year %></h3>

<% if @season.length == 0 %>
  <div class="alert alert-warning center" style="margin-top: 50px">V systéme nie je evidovaný zjazd pre žiadneho používateľa v aktuálnej sezóne.</div>
<% else %>

  <table class="table table-striped">
    <% @season.each_with_index do |seas, i| %>
      <tr>
        <td> <%= (i + 1) %>. </td>
        <td> <%= link_to seas.user.name, seas.user %> </td>
        <td> <%= seas.user.sex_sk %> </td>
        <td> <strong><%= seas["sum_points"] %></strong> </td>
      </tr>
    <% end %>
  </table>
  <p align="right"> <%= link_to "Celý zoznam", stats_best_in_season_path %>

<% end %>

</div>
</div>
