<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "skialpi", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Domov", root_path %></li>
          <li><%= link_to "Štatistiky", stats_path %></li>
          <li><%= link_to "Denníčky", users_path %></li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Zjazdy <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Zjazdy", "/tracks" %></li>
                <li><%= link_to "Lokality", "/locations" %></li>
              </ul>
            </li>
          
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Účet <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Môj denníček", current_user %></li>
                <li><%= link_to "Nastavenia účtu", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Odhlásenie", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Prihlásenie", signin_path %></li>
          <% end %>  
          
        </ul>
      </nav>
    </div>
  </div>
</header>
